git+https://git@github.com/usefulsensors/moonshine.git@4a000427bd36a1c2c6d20a86c672dbd850b44c88#subdirectory=moonshine-onnx
torch==2.6.0
onnxruntime==1.21.0
numpy==2.0.2
sounddevice==0.5.1
pyserial==3.5
silero-vad==5.1.2
numba==0.60
piper-tts==1.2.0
pyparsing==3.2.3
